{% extends 'base.html.twig' %}

{% block body %}
   <h1>Liste Personnes</h1>
    <ul>
        {% for personne in personnes %}
            <li>{{ personne.name }} -- {{ personne.profession }}</li>
        {% endfor %}
    </ul>

{% endblock %}

{% block stylesheets %}
{% endblock %}
