{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
   <h1>Boufares Formulaires </h1>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}